.counter-container{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.count-display{
  font-size: 10em;
  margin-top: 0px;
  margin-bottom: 50px;
}

.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: rgb(41, 107, 128);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.counter-button:hover{
  background-color: rgb(17, 47, 57);

}

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color:hsl(0,0%,20%);
  margin-bottom: 10px;
  text-align:center;
  border: 3px solid;
  border-radius: 5px;
  background-color: coral;
}

.list-items li {
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  text-align:center;
  margin: 0px;
}

.list-items li:hover{
  color: hsl(0, 0%, 40%);
  cursor: pointer;
}

.welcome-message{
  font-size: 2.5em;
  background-color: rgb(32, 118, 118);
  color: white;
  padding:10px;
  border-radius: 5px;
  margin:0px;
}

.login-prompt{
  font-size: 2.5em;
  background-color: rgb(151, 44, 116);
  color: white;
  padding:10px;
  border-radius: 5px;
  margin: 0px;
}

.student{
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
}

.student p{
  margin: 0;
}

.button{
  background-color: hsl(200,100%,50%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display:inline-block;
}

.card .card-image{
  max-width:60%;
  height:auto;
  border-radius:50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text{
  font-family:Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 30%);
} 